*{
    margin: 0;
}

.container {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b8bf92d1-62a7-46c0-8164-6fcc6c8445ab/d2i92ic-ce03a7e7-7fd8-42e7-9940-324a3fd7f52f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I4YmY5MmQxLTYyYTctNDZjMC04MTY0LTZmY2M2Yzg0NDVhYlwvZDJpOTJpYy1jZTAzYTdlNy03ZmQ4LTQyZTctOTk0MC0zMjRhM2ZkN2Y1MmYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uOa9cl4t9C4Lt0PhNcj4jx-GSe5sz9bpZzOV3OrIDKA);
    background-size: cover;
    height: 4000px;
}
.txt {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    border: 1px solid white;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.644);
}
.tt {
    color: rgb(235, 235, 235);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.445);
}

.ttt {
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.438);
    position: relative;
    bottom: 2000px;
}



.card1 {
    box-shadow: 0 4px 8px 0;
    background-color: white;
    max-width: 300px;
    margin: 50px;
    text-align: center;
    float: left;
}
.price {
    color: grey;
    font-size: 22px;
}
.card1 button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: rgb(91, 61, 199);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.p {
    font-weight: 800;
    font-size: 20px;
    font-family: monospace;
}
.card1 button:hover {
    background-color: rgb(146, 119, 189);
}
.footer{
    border: 1px solid red;
}
.contact {
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 17px;
}

.contact a:hover {
    background-color: rgb(184, 182, 182);
    color: black;
}
