*{
    margin: 0;
}

.container {
    background-color: rgb(37, 37, 37);
    height: 6000px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    justify-content: space-between;
    flex-basis: 100%;
}
.container2 {
    background-color: rgb(243, 243, 243);
    height: 6000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
}
.txt {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    border: 1px solid white;
    text-align: center;
    padding-top: 20px;
    height: 100px;
    background-image: linear-gradient(red,white)
}
.tt {
    color: rgb(39, 39, 39);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.692);
}
.ttx {
    color: rgb(39, 39, 39);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.404);
}

.ttt {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.438);

}



.card1 {
    box-shadow: 0 4px 8px 0;
    background-color: white;
    max-width: 300px;
    margin: 50px;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}
.card2 {
    box-shadow: 0 4px 8px 0;
    background-color: rgb(50, 103, 248);
    max-width: 300px;
    margin: 50px;
    text-align: center;
    float: right;
    justify-content: space-evenly;
}
.card2 button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: rgb(91, 61, 199);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.s {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    font-family: monospace;
}

.price {
    color: rgb(48, 44, 44);
    font-size: 22px;
}
.card1 button {
    border: none;
    outline: none;
    padding: 12px;
    background-color: rgb(91, 61, 199);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
#Btn {
    background-color: rgb(60, 255, 70);
}
#Btn:hover {
    background-color: rgb(129, 221, 144);
}
.p {
    font-weight: 800;
    font-size: 20px;
    font-family: monospace;
}

.card1 button:hover {
    background-color: rgb(146, 119, 189);
}
.footer{
    border: 1px solid red;
}
.contact {
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(37, 37, 37);
    text-decoration: none;
    font-size: 19px;
}

.contact a:hover {
    background-color: rgb(184, 182, 182);
    color: black;
}
#Disk {
    background-color: rgb(60, 185, 70);
}
#Wh {
    background-color: red;
}
